h1{
    color:red;
    /*background-color: yellow;
    font-size: 12;*/
}
h1 p{
    color:blue;
    /*background-color: yellow;
    font-size: 12;*/
}
p{
    color:green;
    /*background-color: yellow;
    font-size: 12;*/
}