.card{
    width:90%;
    max-width:400px ;
    padding: 1.5rem;
}
h1{
    font-size:2rem
}
.role{
    color:rgb(107, 154, 32)
}
.description{
    font-size: 1rem;
    line-height: 1.5;
}
button{
    background-color: rgba(29, 8, 168, 0.141);
    color:rgb(255, 255, 255);
}